HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### VNC Recordings ###
.flv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-090914.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-091916.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-092051.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-092542.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-093659.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-Comparision with Testcafe and Cypress-20191204-093821.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-This is description of this test so that you can understand purpose of it. -20191126-075924.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-This is description of this test so that you can understand purpose of it. -20191126-081054.flv
src/test/recordings/PASSED-testsSpecFiles.TestSpec-This is description of this test so that you can understand purpose of it. -20191204-085413.flv
